<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Registro de usuario</h4>
                    </div>
                    <div class="content">
                        <form>      
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Fecha de Ingreso al fondo</label>
                                        <input type="date" class="form-control" placeholder="Date of Entry">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label>Departamento</label>
                                    <select class="form-control">
                                        <option value="option1">Seleccione</option>
                                        <option value="option1">Nariño</option>
                                        <option value="option2">Putumayo</option>
                                        <option value="option2">Cauca</option>
                                        <option value="option2">Valle</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label>Municipio</label>
                                    <select class="form-control">
                                        <option value="option1">Seleccione</option>
                                        <option value="option1">Pasto</option>
                                        <option value="option2">Villa garzon</option>
                                        <option value="option2">Popayan</option>
                                        <option value="option2">Cali</option>
                                    </select>
                                </div>
                            </div>
                            
                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Tipo documento </label>
                                        <select class="form-control">
                                            <option value="option1">Seleccione</option>
                                            <option value="option1">Cedula ciudadania</option>
                                            <option value="option2">Cedula extranjeria</option>
                                            <option value="option2">Permiso de permanencia</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Numero documento</label>
                                        <input type="text" class="form-control" placeholder="Number">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Nombres y apellidos </label>
                                        <input type="text" class="form-control" placeholder="User name">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Fecha nacimiento </label>
                                        <input type="date" class="form-control" placeholder="Date of Entry">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Genero </label>
                                        <select class="form-control">
                                            <option value="option1">Seleccione</option>
                                            <option value="option1">Masculino</option>
                                            <option value="option2">Femenino</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Direccion</label>
                                        <input type="text" class="form-control" placeholder="Number">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Telefono Uno </label>
                                        <input type="text" class="form-control" placeholder="User name">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Telefono Dos </label>
                                        <input type="text" class="form-control" placeholder="User name">
                                    </div>
                                </div>

                            </div>


                            <div class="row">

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Fecha ingreso empresa </label>
                                        <input type="date" class="form-control" placeholder="Date of Entry">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Dependencia</label>
                                        <select class="form-control">
                                            <option value="option1">Seleccione</option>
                                            <option value="option1">Gerencia general</option>
                                            <option value="option2">Gerencia administrativa y financiera</option>
                                            <option value="option2">Gerencia de talento humano</option>
                                            <option value="option2">Gerencia de producto y servicio</option>
                                            <option value="option2">Gerencia de operaciones</option>
                                            <option value="option2">Gerencia Call center</option>
                                            <option value="option2">Gerencia proyectos TI</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Cargo  </label>
                                        <select class="form-control">
                                            <option value="option1">Seleccione</option>
                                            
                                            <option value="option1">Agente Callcenter</option>
                                            <option value="option2">Agente NOC</option>
                                            <option value="option2">Analista de red</option>
                                            <option value="option2">Asesor comercial</option>
                                            <option value="option2">Assistente de gerencia</option>
                                            <option value="option2">Aux almacen</option>
                                            <option value="option2">Aux cartera</option>
                                            <option value="option2">Aux mensajeria</option>
                                            <option value="option2">Aux recepcion y caja</option>
                                            <option value="option2">Aux tesoreria</option>
                                            <option value="option2">Aux programa</option>
                                            <option value="option2">Contador </option>
                                            <option value="option2">Coordinador SGSST</option>
                                            <option value="option2">Coordinador Callcenter</option>
                                            <option value="option2">Coordinador contable</option>
                                            <option value="option2">Coordinador corporativo</option>
                                            <option value="option2">Coordinador de inovacion</option>
                                            <option value="option2">Coordinador juridico</option>
                                            <option value="option2">Coordinador NOC</option>
                                            <option value="option2">Coordinador operativo</option>
                                            <option value="option2">Coordinador residencial</option>
                                            <option value="option2">Ingeniero de innovacion</option>
                                            <option value="option2">Revisor fiscal</option>
                                            <option value="option2">Tecnico</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Correo electronico</label>
                                        <input type="text" class="form-control" placeholder="Home Address" value="sistemaspalacios@prueba">
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-info btn-fill pull-right">Registar empleado</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="image">
                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <a href="#">
                                <img class="avatar border-gray" src="assets/img/faces/fondo_sp.png" alt="..."/>

                                <h4 class="title">Fondo de Empleados SP<br />
                                    <small>Sistemas Palacios</small>
                                </h4>
                            </a>
                        </div>
                       
                    </div>
                    <hr>
                    <div class="text-center">
                        <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                        <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
